<div class="row">
  <div class="col-12">
    <p>
      <mat-toolbar>
        <h1>Contact Us</h1>
      </mat-toolbar>
    </p>
  </div>
</div>
<div class="container">
  <div class="bg-img">
    <div class="col-md-4" id="id1">
      <input type="text" class="form-control" placeholder="full name" /><br />
      <input type="text" class="form-control" placeholder="numero" /><br />
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        placeholder="message"
        rows="3"
      ></textarea>
      <input type="checkbox" />
      <span class="checkmark" id="id2"> I agree with all conditions</span>
      <button id="btn1" type="submit">Submit</button>
    </div>
  </div>
</div>
