<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="iscollapsed = !iscollapsed"
      [attr.aria-expanded]="iscollapsed"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"> </span>
    </button>
    <h1 style="color: whitesmoke">food-logo</h1>

    <div
      class="collapse navbar-collapse me-auto bg-dark"
      style="height: 50px"
      id="navbarSupportedContent"
      [ngbCollapse]="iscollapsed"
    >
      <ul class="navbar-nav offset-lg-6">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/products"
            >Menu</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about-us"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contact"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="isLoggedIn()"
            routerLinkActive="active"
            routerLink="/login"
            >Sign up</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="!isLoggedIn()"
            (click)="logout()"
            style="cursor: pointer"
            >Sign out</a
          >
        </li>
        <li class="nav-item">
          <button id="btn2" routerLink="/cart">
            <i class="fa fa-shopping-cart"></i> Cart
          </button>
        </li>
      </ul>
      <form class="d-flex p-3">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn-outline" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
