<div class="col-12">
  <p>
    <mat-toolbar>
      <h1>About Us</h1>
    </mat-toolbar>
  </p>
</div>
<div id="row" class="container">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid" id="pic" src="{{ chef }}" />
    </div>
    <div class="container col-lg-3">
      <div id="text">
        <div class="card-body">
          <h3 class="card-title">Welcome to the restaurant</h3>
          <p class="card-text">
            Food is what people and animals eat to live. Food usually comes from
            animals and plants. It is eaten by living things to provide energy
            and nutrition. Food contains the nutrition that people and animals
            need to be healthy. The consumption of food is normally enjoyable to
            humans. It contains protein, fat, carbohydrates, vitamins, water and
            minerals. Liquids used for energy and nutrition are often called
            "drinks". If someone cannot afford food they go hungry.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
