<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row rowno-gutters">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">FOOD.LOGO</h5>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <p>Lorem ipsum, #239, Tricity Plaza</p>
          </li>
          <li>
            <p>Peermuchalla. Zirakpur, Mohali</p>
          </li>
          <li>
            <p>Telephone: +91 99999-88888</p>
          </li>
          <li>
            <p>E-mail: mail@Babaapp.com</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Menu</h5>

        <ul class="list-unstyled">
          <li>
            <a aria-current="page" routerLink="home">Home</a>
          </li>
          <li>
            <a aria-current="page" routerLink="products">Menu</a>
          </li>
          <li>
            <a aria-current="page" routerLink="about-us">About Us</a>
          </li>
          <li>
            <a aria-current="page" routerLink="Contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
        <link
          href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
          rel="stylesheet"
        />
        <div class="social-links">
          <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
          <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
          <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="v2"></div>
  <div class="footer-copyright offset-1 py-3">© All Right Reserved.</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
